# Prctica 6: Modelos de clasificación

1. Cargar librerias
2. Leer/Seleccionar/renombrar datos
3. Limpieza de datos
4. Transformación de datos
5. Particionar el conjunto de datos
6. Entrenamiento y predicción con modelos de clasificacion
7. Métricas de desempeño
8. Predecir nuevos registros

## 1. Cargar librerias

In [17]:
# Cargar librerias
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing #para limpieza
from sklearn.preprocessing import LabelEncoder # Para la transformacion
from sklearn.model_selection import train_test_split # Para particionar el conjunto de datos
from sklearn import tree #Para el modelo del arbol de desición
from sklearn.linear_model import LogisticRegressionCV #Para modelo de regresion logistica
from sklearn.neighbors import KNeighborsClassifier #Para modelo KNN
from sklearn.neural_network import MLPClassifier #Para modelo de red neuronal
from sklearn.metrics import classification_report #Para el reporte de clasificacion

## 2. Leer/seleccionar/renombrar datos

In [18]:
# leer Datos
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
# Seleccion de datos
df = df[['Survived', 'Pclass', 'Sex', 'Age', 'Parch', 'Fare']]
# Renombre de Datos
df.columns = ['sobrevive','clase','sexo','edad','hijos','valor']
df.head()

   sobrevive  clase    sexo  edad  hijos    valor
0          0      3    male  22.0      0   7.2500
1          1      1  female  38.0      0  71.2833
2          1      3  female  26.0      0   7.9250
3          1      1  female  35.0      0  53.1000
4          0      3    male  35.0      0   8.0500

## 3. Limpieza de datos

In [20]:
df.isnull().sum()

sobrevive      0
clase          0
sexo           0
edad         177
hijos          0
valor          0
dtype: int64

In [21]:
df.shape

(891, 6)

In [22]:
PromEdad = df['edad'].mean()
df['edad'] = df['edad'].replace(np.nan, PromEdad)

## 4. Transformacion de datos

In [23]:

encoder = preprocessing.LabelEncoder()
encoder.fit(df['sexo'])
df['sexo' ] = encoder.transform(df['sexo'])

In [24]:
X = df[['clase','sexo','edad','hijos','valor']]
y = df[['sobrevive']]

#Separar losconjuntos en entrenamiento "train" y prueba "test"
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2)

## 6. Entrenamiento y predicción con modelos de clasificación

### 6.1 Regresion logística

In [25]:
#Definir el algoritmo
RLog = LogisticRegressionCV(cv=10)

#Entrenar el modelo
RLog.fit(X_train, y_train)

#Realizar predicción
RLog.predict(X_test)

#Calcular precisión
print()
print('La precision de entrenamiento del modelo de regresión logistica es: ')
print(format(RLog.score(X_train, y_train)))

La precision de entrenamiento del modelo de regresión logistica es:
0.8033707865168539

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## 6.2 Arbol de clasificación

In [26]:
#Definir el algoritmo
AD=tree.DecisionTreeClassifier()

#Entrenar el modelo
AD.fit(X_train, y_train)

#Realizar predicción
Y_predAD = AD.predict(X_test)

#Calcular precisión
print()
print('La precision de entrenamiento del modelo de arbol de desición es: ')
print(format(AD.score(X_train, y_train)))

La precision de entrenamiento del modelo de arbol de desición es:
0.9845505617977528

## 6.3 Vecino más cercano

In [27]:
#Definir el algoritmo
KNN=KNeighborsClassifier(n_neighbors = 3)

#Entrenar el modelo
KNN.fit(X_train, y_train)

#Realizar predicción
KNN.predict(X_test)

#Calcular precisión
print()
print('La precision de entrenamiento del modelo del vecino más cercano es: ')
print(format(KNN.score(X_train, y_train)))

La precision de entrenamiento del modelo del vecino más cercano es:
0.8525280898876404

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

### 6.4 Red Neuronal

In [28]:
#Definir el algoritmo
NN=MLPClassifier(hidden_layer_sizes=(100,100,200))

#Entrenar el modelo
NN.fit(X_train, y_train)

#Realizar predicción
NN.predict(X_test)

#Calcular precisión
print()
print('La precision de entrenamiento del modelo de red neural es: ')
print(format(NN.score(X_train, y_train)))

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1098: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

La precision de entrenamiento del modelo de red neural es:
0.8174157303370787

# 7. Metricas de desempeño

In [35]:
Y_predAD = AD.predict(X_test)
print(classification_report(y_test, Y_predAD))

#Tomar el f1-score para comprar las modelos

              precision    recall  f1-score   support

           0       0.79      0.85      0.82       106
           1       0.75      0.67      0.71        73

    accuracy                           0.78       179
   macro avg       0.77      0.76      0.76       179
weighted avg       0.77      0.78      0.77       179

In [30]:
Y_predRlog = RLog.predict(X_test)
print(classification_report(y_test, Y_predRlog))

              precision    recall  f1-score   support

           0       0.79      0.83      0.81       106
           1       0.73      0.67      0.70        73

    accuracy                           0.77       179
   macro avg       0.76      0.75      0.75       179
weighted avg       0.76      0.77      0.76       179

In [31]:
Y_predKNN = KNN.predict(X_test)
print(classification_report(y_test, Y_predKNN))

              precision    recall  f1-score   support

           0       0.70      0.77      0.74       106
           1       0.61      0.52      0.56        73

    accuracy                           0.67       179
   macro avg       0.66      0.65      0.65       179
weighted avg       0.66      0.67      0.67       179

In [32]:
Y_predNN = NN.predict(X_test)
print(classification_report(y_test, Y_predNN))

              precision    recall  f1-score   support

           0       0.78      0.87      0.82       106
           1       0.77      0.64      0.70        73

    accuracy                           0.78       179
   macro avg       0.78      0.76      0.76       179
weighted avg       0.78      0.78      0.77       179

## 8. Predecir nuevos registros

In [37]:
X_new = np.array([1,0,27,0,20])

Pred = AD.predict(X_new)